In [7]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import datetime as dt
from sklearn import preprocessing as pp

In [11]:
dataFolder = r'C:\Users\upvarma\Documents\ML\demandForecasting\Data'
repoFolder = r'C:\Users\upvarma\Documents\ML\demandForecasting\demandForecasting'
#dataFolder = 
#repoFolder = 
outputFile = repoFolder + r'\output.txt'
os = open(outputFile, 'w')

In [13]:
#read input data files
train_df = pd.read_csv(dataFolder + r'\train.csv')
test_df = pd.read_csv(dataFolder + r'\test.csv')
holidaysEvents_df = pd.read_csv(dataFolder + r'\holidays_events.csv')
items_df = pd.read_csv(dataFolder + r'\items.csv')
oil_df = pd.read_csv(dataFolder + r'\oil.csv')
stores_df = pd.read_csv(dataFolder + r'\stores.csv')
transactions_df = pd.read_csv(dataFolder + r'\transactions.csv')

C:\Users\upvarma\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
#looking at normalization within a family for various types of products
train_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>store_nbr</th>
      <th>item_nbr</th>
      <th>unit_sales</th>
      <th>onpromotion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>2013-01-01</td>
      <td>25</td>
      <td>103665</td>
      <td>7.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2013-01-01</td>
      <td>25</td>
      <td>105574</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2013-01-01</td>
      <td>25</td>
      <td>105575</td>
      <td>2.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>2013-01-01</td>
      <td>25</td>
      <td>108079</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>2013-01-01</td>
      <td>25</td>
      <td>108701</td>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
sampleTrain_df = train_df.sample(frac= 0.0001)

In [35]:
normalized_df = sampleTrain_df.groupby(by=['item_nbr'])['unit_sales'].transform(lambda x: pp.maxabs_scale(x))

In [39]:
normalized_df.index.name = 'id'

In [48]:
sampleTrain_df.join(normalized_df, how='inner', rsuffix='_normalized')

In [54]:
pd.merge(sampleTrain_df, items_df, how='inner', on='item_nbr')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>store_nbr</th>
      <th>item_nbr</th>
      <th>unit_sales</th>
      <th>onpromotion</th>
      <th>family</th>
      <th>class</th>
      <th>perishable</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>80150292</td>
      <td>2016-05-24</td>
      <td>46</td>
      <td>1693656</td>
      <td>34.000</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>80005747</td>
      <td>2016-05-23</td>
      <td>14</td>
      <td>1250226</td>
      <td>3.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1028</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>120133711</td>
      <td>2017-06-26</td>
      <td>1</td>
      <td>1250226</td>
      <td>1.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1028</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>86586191</td>
      <td>2016-07-31</td>
      <td>9</td>
      <td>1250226</td>
      <td>1.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1028</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>95055603</td>
      <td>2016-10-26</td>
      <td>53</td>
      <td>1250226</td>
      <td>2.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1028</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>70668223</td>
      <td>2016-02-15</td>
      <td>36</td>
      <td>1920035</td>
      <td>4.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>40283957</td>
      <td>2015-01-30</td>
      <td>50</td>
      <td>1064018</td>
      <td>2.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>117437980</td>
      <td>2017-05-31</td>
      <td>37</td>
      <td>1064018</td>
      <td>3.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>31722813</td>
      <td>2014-09-26</td>
      <td>1</td>
      <td>1064018</td>
      <td>20.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>101018133</td>
      <td>2016-12-24</td>
      <td>44</td>
      <td>1064018</td>
      <td>8.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>87917803</td>
      <td>2016-08-13</td>
      <td>42</td>
      <td>1064018</td>
      <td>2.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7182129</td>
      <td>2013-06-19</td>
      <td>37</td>
      <td>358264</td>
      <td>6.000</td>
      <td>NaN</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>29324866</td>
      <td>2014-08-19</td>
      <td>38</td>
      <td>358264</td>
      <td>3.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>125441608</td>
      <td>2017-08-15</td>
      <td>27</td>
      <td>358264</td>
      <td>3.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>96106277</td>
      <td>2016-11-06</td>
      <td>28</td>
      <td>358264</td>
      <td>4.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>5654609</td>
      <td>2013-05-16</td>
      <td>24</td>
      <td>358264</td>
      <td>5.000</td>
      <td>NaN</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>84357038</td>
      <td>2016-07-08</td>
      <td>3</td>
      <td>358264</td>
      <td>13.000</td>
      <td>True</td>
      <td>GROCERY I</td>
      <td>1078</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>59218688</td>
      <td>2015-10-14</td>
      <td>22</td>
      <td>1920069</td>
      <td>2.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>73480408</td>
      <td>2016-03-16</td>
      <td>12</td>
      <td>1920069</td>
      <td>2.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>89043699</td>
      <td>2016-08-25</td>
      <td>30</td>
      <td>1920069</td>
      <td>1.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>105240050</td>
      <td>2017-02-04</td>
      <td>46</td>
      <td>1920069</td>
      <td>8.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>118201870</td>
      <td>2017-06-07</td>
      <td>38</td>
      <td>1920069</td>
      <td>1.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>41379852</td>
      <td>2015-02-18</td>
      <td>9</td>
      <td>940590</td>
      <td>1.000</td>
      <td>False</td>
      <td>CLEANING</td>
      <td>3016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>122191171</td>
      <td>2017-07-15</td>
      <td>28</td>
      <td>940590</td>
      <td>1.000</td>
      <td>False</td>
      <td>CLEANING</td>
      <td>3016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>51796359</td>
      <td>2015-07-19</td>
      <td>39</td>
      <td>940590</td>
      <td>1.000</td>
      <td>False</td>
      <td>CLEANING</td>
      <td>3016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>121758353</td>
      <td>2017-07-11</td>
      <td>12</td>
      <td>940590</td>
      <td>1.000</td>
      <td>False</td>
      <td>CLEANING</td>
      <td>3016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>97285760</td>
      <td>2016-11-18</td>
      <td>36</td>
      <td>1695835</td>
      <td>16.340</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2004</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>56233231</td>
      <td>2015-09-10</td>
      <td>38</td>
      <td>1695835</td>
      <td>66.245</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2004</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>59301120</td>
      <td>2015-10-15</td>
      <td>18</td>
      <td>1695835</td>
      <td>12.708</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2004</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>37354582</td>
      <td>2014-12-14</td>
      <td>28</td>
      <td>1695835</td>
      <td>60.702</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2004</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>12520</th>
      <td>97193589</td>
      <td>2016-11-17</td>
      <td>36</td>
      <td>1401722</td>
      <td>1.000</td>
      <td>False</td>
      <td>PERSONAL CARE</td>
      <td>4126</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12521</th>
      <td>87483840</td>
      <td>2016-08-09</td>
      <td>8</td>
      <td>1946325</td>
      <td>1.000</td>
      <td>True</td>
      <td>GROCERY I</td>
      <td>1026</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12522</th>
      <td>9612940</td>
      <td>2013-08-12</td>
      <td>30</td>
      <td>617113</td>
      <td>1.000</td>
      <td>NaN</td>
      <td>EGGS</td>
      <td>2502</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12523</th>
      <td>72874427</td>
      <td>2016-03-09</td>
      <td>47</td>
      <td>1464256</td>
      <td>2.000</td>
      <td>False</td>
      <td>BEVERAGES</td>
      <td>1114</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12524</th>
      <td>94176612</td>
      <td>2016-10-17</td>
      <td>43</td>
      <td>1950658</td>
      <td>1.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1096</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12525</th>
      <td>120591274</td>
      <td>2017-06-30</td>
      <td>29</td>
      <td>1489870</td>
      <td>3.000</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12526</th>
      <td>62281016</td>
      <td>2015-11-16</td>
      <td>40</td>
      <td>1686668</td>
      <td>14.000</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2032</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12527</th>
      <td>115507746</td>
      <td>2017-05-13</td>
      <td>27</td>
      <td>2047506</td>
      <td>7.000</td>
      <td>False</td>
      <td>BEVERAGES</td>
      <td>1122</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12528</th>
      <td>95039955</td>
      <td>2016-10-26</td>
      <td>45</td>
      <td>2011898</td>
      <td>1.000</td>
      <td>False</td>
      <td>HOME CARE</td>
      <td>3102</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12529</th>
      <td>122637156</td>
      <td>2017-07-19</td>
      <td>41</td>
      <td>1576329</td>
      <td>1.000</td>
      <td>False</td>
      <td>CELEBRATION</td>
      <td>5324</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12530</th>
      <td>71761416</td>
      <td>2016-02-27</td>
      <td>21</td>
      <td>2011148</td>
      <td>2.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1068</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12531</th>
      <td>61936456</td>
      <td>2015-11-13</td>
      <td>3</td>
      <td>1931079</td>
      <td>1.000</td>
      <td>False</td>
      <td>PET SUPPLIES</td>
      <td>6516</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12532</th>
      <td>111218822</td>
      <td>2017-04-02</td>
      <td>46</td>
      <td>1971423</td>
      <td>3.000</td>
      <td>False</td>
      <td>BEVERAGES</td>
      <td>1136</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12533</th>
      <td>51061208</td>
      <td>2015-07-10</td>
      <td>36</td>
      <td>871514</td>
      <td>22.000</td>
      <td>False</td>
      <td>BREAD/BAKERY</td>
      <td>2784</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12534</th>
      <td>18859282</td>
      <td>2014-02-12</td>
      <td>47</td>
      <td>584078</td>
      <td>12.072</td>
      <td>NaN</td>
      <td>MEATS</td>
      <td>2302</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12535</th>
      <td>52638495</td>
      <td>2015-07-30</td>
      <td>6</td>
      <td>795610</td>
      <td>10.000</td>
      <td>False</td>
      <td>FROZEN FOODS</td>
      <td>2220</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12536</th>
      <td>33892004</td>
      <td>2014-10-26</td>
      <td>47</td>
      <td>1457311</td>
      <td>2.000</td>
      <td>False</td>
      <td>HOME CARE</td>
      <td>3104</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12537</th>
      <td>111276144</td>
      <td>2017-04-03</td>
      <td>20</td>
      <td>2018358</td>
      <td>7.000</td>
      <td>False</td>
      <td>BEVERAGES</td>
      <td>1124</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12538</th>
      <td>91732076</td>
      <td>2016-09-22</td>
      <td>34</td>
      <td>1909748</td>
      <td>3.000</td>
      <td>False</td>
      <td>HOME AND KITCHEN I</td>
      <td>6222</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12539</th>
      <td>122987680</td>
      <td>2017-07-23</td>
      <td>4</td>
      <td>1463859</td>
      <td>24.000</td>
      <td>False</td>
      <td>BEVERAGES</td>
      <td>1148</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12540</th>
      <td>120321936</td>
      <td>2017-06-27</td>
      <td>47</td>
      <td>2048323</td>
      <td>3.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12541</th>
      <td>84308324</td>
      <td>2016-07-07</td>
      <td>29</td>
      <td>864288</td>
      <td>1.000</td>
      <td>False</td>
      <td>CLEANING</td>
      <td>3044</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12542</th>
      <td>30112924</td>
      <td>2014-09-02</td>
      <td>44</td>
      <td>699686</td>
      <td>81.781</td>
      <td>False</td>
      <td>MEATS</td>
      <td>2302</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12543</th>
      <td>110594451</td>
      <td>2017-03-27</td>
      <td>50</td>
      <td>2047752</td>
      <td>9.000</td>
      <td>False</td>
      <td>CLEANING</td>
      <td>3034</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12544</th>
      <td>100543690</td>
      <td>2016-12-20</td>
      <td>23</td>
      <td>1489879</td>
      <td>8.000</td>
      <td>False</td>
      <td>PRODUCE</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12545</th>
      <td>36643630</td>
      <td>2014-12-04</td>
      <td>45</td>
      <td>1091367</td>
      <td>25.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12546</th>
      <td>50841190</td>
      <td>2015-07-07</td>
      <td>46</td>
      <td>1463886</td>
      <td>6.000</td>
      <td>False</td>
      <td>BEVERAGES</td>
      <td>1144</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12547</th>
      <td>77751989</td>
      <td>2016-04-30</td>
      <td>2</td>
      <td>2036676</td>
      <td>1.000</td>
      <td>False</td>
      <td>GROCERY I</td>
      <td>1040</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12548</th>
      <td>53143670</td>
      <td>2015-08-05</td>
      <td>3</td>
      <td>1464002</td>
      <td>47.000</td>
      <td>False</td>
      <td>BEVERAGES</td>
      <td>1148</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12549</th>
      <td>31421877</td>
      <td>2014-09-21</td>
      <td>34</td>
      <td>660323</td>
      <td>20.000</td>
      <td>False</td>
      <td>BREAD/BAKERY</td>
      <td>2756</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>12550 rows × 9 columns</p>
</div>